.internet {
  background-image: url("https://res.cloudinary.com/dnkftif1n/image/upload/v1611064485/projectsGitHUB/journey/pexels-junior-teixeira-2047905_lb9b22.jpg");
  background-color: black;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: contain;
}

.internet__title {
  font-family: "Press Start 2P", cursive;
  color: white;
  padding-top: 100px;
  text-align: center;
  text-shadow: 0 0 10px black, 0 0 20px #4297a0, 0 0 30px #e57f84;
}
