.banner {
  background-image: url("https://res.cloudinary.com/dnkftif1n/image/upload/v1610829519/projectsGitHUB/journey/banner_mdyvyx.jpg");
  background-color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: flex-start;
}

.banner h1 {
  color: #fff;
  font-size: 10vmin;
  padding-top: 100px;
  align-self: flex-start;
  flex-shrink: 3;
}

.banner p {
  padding-top: 1rem;
  color: #fff;
  font-size: 5vmin;
  text-transform: uppercase;
  flex-shrink: 3;
  align-self: flex-end;
  padding-right: 50px;
}

.banner__btns {
  margin-top: 70px;
}

@media screen and (max-width: 960px) {
  .banner p {
    font-size: 15px;
  }
}
